<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><@=title@></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Loading Bootstrap -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet">
    <!-- Loading Flat UI -->
    <link href="/stylesheets/flat-ui.css" rel="stylesheet">
    <link href="/stylesheets/common.css" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.ico">
</head>
<body>
<div class="container">
    <a href="/index" class="btn btn-large btn-block btn-inverse">首页</a>
    <a href="/index/data" class="btn btn-large btn-block btn-inverse">数值管理</a>